.cuerpoCalc{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.pantalla{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    margin: 1vh;
}

.pantalla.pantallita{
    padding: 2vh;
    height: 2vh;
    width: 2vh;
    text-align: center;
    overflow: none;
    
}

.cuerpoCalc .columna1{
    background-color: aqua;
    margin: 1vh;
    padding: 1vh;
}

.cuerpoCalc .columna2{
    background-color: red;
    margin: 1vh;
    padding: 1vh;
}

.cuerpoCalc .columna3{
    background-color: blue;
    margin: 1vh;
    padding: 1vh;

}

.cuerpoCalc .columna4{
    background-color: yellow;
    margin: 1vh;
    padding: 1vh;

}